@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.g-nav {
  & {
    padding: 3.2rem 4rem;

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__link {
      color: color(blu,base);
      font-size: 3rem;
      background-color: color(wt,base);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34rem;
      height: 10rem;
      box-shadow: .3rem .3rem .8rem rgba(0, 0, 0, .4);
    }

    &__inner {
      width: calc(100% - .8rem);
      height: calc(100% - .8rem);
      border: solid .2rem color(blu,base);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}