@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.g-nav {
  & {
    @include sp {
      width: 100%;
      padding-top: 6rem;
      position: absolute;
      top: calc(-100vh + -9rem);
      left: 0;
      z-index: 8888;
      transition: top .5s;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4.8rem;

      @include sp {
        display: block;
        background-color: $base-bg-color;
        height: 100vh;
        padding-top: 3rem;
      }
    }

    &__item {
      @include sp {
        padding: 2.4rem 2rem;
        border-bottom: solid .2rem $base-font-color;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-of-type {
          border-bottom: unset;

          &::after {
            content: unset;
          }
        }

        &::after {
          content: "";
          display: block;
          width: .7rem;
          height: 1.3rem;
          background-image: url(../img/common/icon_arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

    &__link {
      color: $base-font-color;
      font-size: 1.8rem;
      font-weight: $base-font-bold;
      line-height: 100%;

      @include sp {
        font-size: 1.6rem;
      }
    }

    &__btn {
      color: $base-font-color;
      font-size: 2rem;
      font-weight: $base-font-bold;
      line-height: 100%;
      width: 22rem;
      height: 5.6rem;
      border-radius: 100vmax;
      border: solid .3rem $base-font-color;
      display: flex;
      align-items: center;
      justify-content: center;

      @include sp {
        width: 100%;
        font-size: 1.8rem;
      }
    }
  }
}