@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.c-ttl-wrap {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    @include sp {
      gap: 1.6rem;
    }
  }
}