@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.c-under-fv {
  & {
    width: 100%;
    height: 88.6rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;

    @include sp {
      height: 32rem;
    }

    &--about {
      background-image: url(../img/about/mv/mv.jpg);

      @include sp {
        background-image: url(../img/about/sp/mv.jpg);
      }
    }

    &--course {
      background-image: url(../img/course/mv/mv.jpg);

      @include sp {
        background-image: url(../img/course/sp/mv.jpg);
      }
    }

    &--contact {
      background-image: url(../img/contact/mv/mv.jpg);

      @include sp {
        background-image: url(../img/contact/sp/mv.jpg);
        height: 32rem;
      }
    }

    &--column {
      background-image: url(../img/column/mv/mv.jpg);

      @include sp {
        background-image: url(../img/column/sp/mv.jpg);
        height: 32rem;
      }
    }
  }
}