@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-contact-form {
  & {
    padding-top: 5.6rem;

    @include sp {
      padding-top: 4rem;
    }

    &__inner {
      max-width: 86rem;
      margin: 0 auto;
      padding: 0 2rem;
    }

    &__form {
      background-color: color(wt,base);
      margin-top: 4rem;
      padding: 8rem 4rem;
      position: relative;

      @include sp {
        margin-top: 3.2rem;
        padding: 4rem 2rem;
      }

      &::after {
        content: "";
        display: block;
        width: 54.3rem;
        height: 52.4rem;
        background-image: url(../img/contact/form/obj.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: -31.1rem;
        right: -29.7rem;
        z-index: -1;

        @include sp {
          width: 14rem;
          height: 13.4rem;
          right: -4.7rem;
          bottom: -6rem;
        }
      }
    }

    &__form-blk {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      @include sp {
        display: block;
      }

      &:not(:first-of-type) {
        margin-top: 2.4rem;
      }
    }

    &__label {
      color: color(blu,base);
      font-size: 2.4rem;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      @include sp {
        font-size: 1.6rem;
        gap: .6rem;
      }
    }

    &__required {
      color: color(org,base);
      font-size: 2rem;
      border: solid 1px color(org,base);
      padding: .4rem .8rem .2rem;

      @include sp {
        font-size: 1.4rem;
      }
    }

    &__input-area {
      width: 100%;
      margin-top: 1rem;

      @include sp {
        margin-top: .8rem;
      }

      .error {
        font-size: 1.8rem !important;
        margin-top: 1rem;

        @include sp {
          font-size: 1.4rem !important;
          margin-top: .6rem;
        }
      }
    }

    &__default {
      font-size: 2rem;
      line-height: 140%;
      width: 100%;
      padding: 2rem;
      border-radius: 1rem;
      border: solid .2rem color(blu,base);
      box-sizing: border-box;

      @include sp {
        font-size: 1.4rem;
        padding: 1.6rem;
      }

      &--txtarea {
        height: auto;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4rem;

      @include sp {
        margin-top: 2.4rem;
      }
    }

    &__btn-input,
    &__btn-thanks {
      color: color(wt,base);
      font-size: 4.6rem;
      font-family: $ff-dnp-shuei-ymincho;
      letter-spacing: .075em;
      height: 8.8rem;
      padding: 0 10.6rem;
      background-color: color(blu,base);
      border: unset;
      border-radius: 100vmax;
      cursor: pointer;
      transition: opacity .5s;

      @include sp {
        font-size: 2rem;
        height: 5.6rem;
        padding: 0 8rem;
      }

      &:hover {
        opacity: .5;

        @include sp {
          opacity: 1;
        }
      }
    }

    &__btn-thanks {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mw_wp_form_complete {
      margin-top: 8rem;

      @include sp {
        margin-top: 5.6rem;
      }
    }
  }
}