@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-column-popular {
  & {
    padding-top: 8.6rem;

    @include sp {
      padding-top: 5.6rem;
    }

    .wpp-no-data {
      color: $base-font-color;
      font-size: 1.8rem;
      text-align: center;
      line-height: calc(26/18);
      margin-top: 7.2rem;
      width: 100%;

      @include sp {
        font-size: 1.4rem;
        margin-top: 4.8rem;
      }
    }
  }
}