@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.l-footer {
  & {
    padding-top: 18rem;

    @include sp {
      padding-top: 8rem;
    }

    &__head {
      max-width: 144rem;
      margin: 0 auto;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
    }

    &__head-txt {
      color: color(blu,base);
      font-family: $ff-fot-udmarugo;
      font-size: 2rem;

      @include sp {
        font-size: 1.6rem;
      } 
    }

    &__head-tel {
      color: color(blu,base);
      font-family: $ff-fot-udmarugo;
      font-size: 3.2rem;
    }

    &__head-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.2rem;
    }

    &__head-link {
      color: color(wt,base);
      font-family: $ff-fot-udmarugo;
      font-size: 2.4rem;
      background-color: color(blu,base);
      border-radius: 100vmax;
      padding: .8rem 3.2rem;

      @include sp {
        font-size: 1.8rem;
        padding: .6rem 1.6rem;
      }
    }

    &__bg {
      background-color: color(blu,dark);
      position: relative;
      margin-top: 4rem;

      &::after {
        content: "";
        width: 100%;
        height: .8rem;
        background-color: color(wt,base);
        position: absolute;
        bottom: 2rem;
        left: 0;

        @include sp {
          height: .4rem;
        }
      }
    }

    &__inner {
      padding: 6rem 12rem;

      @include sp {
        padding: 4rem 2rem;
      }
    }

    &__nav-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3.2rem;

      @include sp {
        gap: 2rem;
      }
    }

    &__nav-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 3.2rem;

      @include sp {
        gap: 2rem;
      }

      &:not(:last-of-type) {
        &::after {
          content: "|";
          font-size: 2rem;
          color: color(wt,base);
        }
      }
    }

    &__nav-link {
      color: color(wt,base);
      font-family: $ff-noto-sans;
      font-size: 3.6rem;
      font-weight: $base-font-light;

      @include sp {
        font-size: 2rem;
      }
    }

    &__wrap {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 4rem;
      
      @include sp {
        margin-top: 8rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    &__logo {
      display: inline-block;
      width: 50rem;

      @include sp {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }

    &__address {
      color: color(wt,base);
      font-family: $ff-noto-sans;
      font-size: 3rem;
      font-style: normal;
      font-weight: $base-font-regular;
      margin-top: 1.8rem;

      @include sp {
        font-size: 1.8rem;
        line-height: 150%;
      }
    }

    &__copy {
      color: color(wt,base);
      font-family: $ff-noto-sans;
      font-size: 2.4rem;
      font-weight: $base-font-light;
      line-height: calc(35/24);
      display: block;
      margin-top: 2.4rem;

      @include sp {
        font-size: 1.6rem;
      }
    }

    &__copy-link {
      color: color(wt,base);
    }

    &__map {
      width: 64rem;
      height: 50rem;

      @include sp {
        width: 100%;
        height: 30rem;
        margin-top: 2.4rem;
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}