@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.l-header {
  & {
    width: 100%;
    background-color: color(blu,dark);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    &::before {
      content: "";
      width: 100%;
      height: .4rem;
      background-color: color(wt,base);
      position: absolute;
      bottom: 1.5rem;
      left: 0;

      @include sp {
        height: .2rem;
        bottom: .4rem;
      }
    }

    &__inner {
      padding: 4rem;

      @include sp {
        padding: 2rem;
      }
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      display: block;
      width: 38.6rem;

      @include sp {
        width: 16rem;
      }

      img {
        width: 100%;
      }
    }

    &__cont {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 1.8rem;

      @include sp {
        width: 100%;
        height: 100vh;
        background-color: color(blu,dark);
        padding: 12rem 2rem;
        flex-direction: column;
        align-items: center;
        gap: 0;
        position: absolute;
        top: 0;
        right: -100vw;
        overflow-y: auto;
      }
    }

    &__nav-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
    }

    &__nav-link {
      color: color(blu,base);
      font-family: $ff-fot-udmarugo;
      font-size: 2rem;
      line-height: 100%;
      display: inline-block;
      background-color: color(wt,base);
      border-radius: 100vmax;
      padding: 1rem 2.4rem .8rem;

      @include sp {
        font-size: 1.6rem;
        padding: 1rem 1.6rem .8rem;
      }
    }

    &__contact {
      @include sp {
        margin-top: 2.4rem;
      }
    }

    &__contact-txt {
      color: color(wt,base);
      font-family: $ff-fot-udmarugo;
      font-size: 1.8rem;
      line-height: 100%;
      display: block;

      @include sp {
        font-size: 1.4rem;
      }
    }

    &__tel {
      color: color(wt,base);
      font-family: $ff-fot-udmarugo;
      font-size: 4.2rem;
      display: block;
      margin-top: .8rem;

      @include sp {
        font-size: 3.2rem;
      }
    }

    &__menu {
      @include sp {
        width: 100%;
        margin-top: 5.6rem;
        padding: 0 2.2rem;
      }
    }

    &__menu-item {
      @include sp {
        &:not(:first-of-type) {
          margin-top: 4rem;
        }
      }
    }

    &__menu-link {
      @include sp {
        color: color(wt,base);
        font-family: $ff-fot-udmarugo;
        font-size: 1.8rem;
      }
    }

    &__hamburger {
      display: none;

      @include sp {
        width: 7.4rem;
        height: 100%;
        background-color: $base-bg-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .6rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;
      }
    }

    &__hamburger-line {
      display: block;
      width: 4rem;
      height: .3rem;
      background-color: color(blu, dark);
      transition: transform .5s, opacity .5s;
    }
  }
}