@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.l-header {
  & {
    width: 100%;
    background-color: $base-bg-color;
    border-bottom: solid .3rem $base-font-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    @include sp {
      border-bottom: solid .2rem $base-font-color;
    }
    
    &__inner {
      padding: 2.2rem 5.5rem;
      
      @include sp {
        padding: 1.7rem 2rem;
      }
    }

    &__logo {
      display: block;
      width: 30rem;

      @include sp {
        width: 14rem;
        position: relative;
        z-index: 9999;
      }
    }

    &__logo-img {
      width: 100%;
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__hamburger {
      display: none;

      @include sp {
        width: 5.8rem;
        height: 5.8rem;
        background-color: $base-font-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .6rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;
      }
    }

    &__hamburger-line {
      display: block;
      width: 2.4rem;
      height: .3rem;
      background-color: $base-bg-color;
      transition: transform .5s, opacity .5s;
    }
  }
}