@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-top-about {
  & {
    padding-top: 7.2rem;

    &__inner {
      max-width: 115.2rem;
      margin: 0 auto;
      padding: 0 2rem;
    }

    &__ttl {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4rem;

      @include sp {
        gap: 1rem;
      }

      &::before {
        content: "";
        display: block;
        width: 25.2rem;
        height: 5.3rem;
        background-image: url(../img/top/obj01.svg);
        background-repeat: no-repeat;
        background-size: contain;

        @include sp {
          width: 8rem;
          height: 1.7rem;
        }
      }
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 4.6rem;

      @include sp {
        display: block;
      }
    }

    &__wrap-img {
      width: 60rem;
      flex-shrink: 0;

      @include sp {
        width: 100%;
      }
    }

    &__wrap-txtarea {
      width: calc(100% - 60rem);
      height: 100%;
      position: relative;

      @include sp {
        width: 100%;
      }
    }

    &__wrap-txtbg {
      width: 58.5rem;
      background-color: rgba($color: color(org,base), $alpha: .8);
      padding: 6.4rem 10.9rem;
      clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
      position: absolute;
      top: 50%;
      left: -9rem;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);

      @include sp {
        width: 100%;
        padding: 2rem;
        position: static;
        clip-path: unset;
        transform: unset;
        -webkit-transform: unset;
        -ms-transform: unset;
      }
    }

    &__wrap-txt {
      color: color(wt,base);
      font-family: $ff-noto-sans;
      font-size: 1.8rem;
      letter-spacing: .025em;
      line-height: calc(42/18);

      @include sp {
        font-size: 1.4rem;
      }
    }

    &__list {
      margin-top: 6.6rem;
    }

    &__item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2.4rem;

      @include sp {
        display: block;
      }

      &:not(:first-of-type) {
        margin-top: 6rem;

        @include sp {
          margin-top: 4rem;
        }
      }
    }

    &__item-num {
      color: color(blu,base);
      font-size: 8rem;
      letter-spacing: .075em;

      @include sp {
        font-size: 5.6rem;
      }
    }

    &__txtblk {
      width: 100%;
    }

    &__item-ttl {
      font-size: 3.4rem;
      letter-spacing: .075em;
      padding-bottom: .8rem;
      border-bottom: solid .3rem $base-font-color;

      @include sp {
        font-size: 2.4rem;
        line-height: 140%;
        margin-top: .8rem;
      }
    }

    &__item-txt {
      font-size: 2.2rem;
      line-height: calc(34/22);
      margin-top: 2rem;

      @include sp {
        font-size: 1.6rem;
        margin-top: 1.2rem;
      }
    }

    &__img {
      width: 92.5rem;
      margin: 7.2rem auto 0;
      position: relative;
      z-index: 1;

      @include sp {
        width: 100%;
        margin: 4rem auto 0;
      }

      &::before {
        content: "";
        width: 54.3rem;
        height: 52.4rem;
        background-image: url(../img/top/about/obj.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: -33.7rem;
        left: -44.3rem;
        z-index: -1;

        @include sp {
          width: 24rem;
          height: 23.4rem;
          bottom: -8rem;
          left: 16rem;
        }
      }
    }
  }
}