@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-top-course {
  & {
    padding-top: 12rem;

    @include sp {
      padding-top: 8rem;
    }

    &__inner {
      max-width: 120rem;
      margin: 0 auto;
      padding: 0 2rem;
    }

    &__list {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 0 .8rem;

      @include sp {
        display: block;
      }
    }

    &__item {
      max-width: 38.1rem;
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 2;

      &:not(:first-of-type) {
        @include sp {
          margin-top: 2.4rem;
        }
      }

      @include sp {
        display: block;
      }
    }

    &__img {
      width: 100%;
    }

    &__txtbox {
      background-color: color(blu,base);
      padding: 5.6rem 4.8rem;

      @include sp {
        padding: 2.4rem 1.6rem;
      }
    }

    &__item-ttl {
      color: color(wt,base);
      font-size: 3rem;
      letter-spacing: .075em;
      text-align: center;

      @include sp {
        font-size: 2.4rem;
      }
    }

    &__txt {
      color: color(wt,base);
      font-size: 2.4rem;
      line-height: calc(40/24);
      margin-top: 4rem;

      @include sp {
        font-size: 1.6rem;
        margin-top: 2.4rem;
      }
    }
  }
}