@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-top-fv {
  & {
    &__img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &__btn {
      position: absolute;
      bottom: 6rem;
      right: 6rem;
      z-index: 2;

      @include sp {
        width: calc(100% - 4rem);
        bottom: .6rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
      }
    }

    &__btn-link {
      color: color(wt,base);
      font-family: $ff-fot-udmarugo;
      font-size: 3.6rem;
      background-color: color(blu,base);
      border-radius: 100vmax;
      padding: 1.4rem 5.6rem;
      box-shadow: inset .8rem 0 1.5rem rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;

      @include sp {
        font-size: 1.6rem;
        padding: .8rem 1.6rem;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 2.4rem;
        height: 3.5rem;
        background-image: url(../img/top/icon_arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;

        @include sp {
          width: 1rem;
          height: 1.4rem;
        }
      }
    }
  }
}