@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-about-principal {
  & {
    padding-top: 13.5rem;

    &__inner {
      max-width: 91rem;
      margin: 0 auto;
      padding: 0 2rem;
    }

    &__cont {
      background-color: rgba($color: color(org,base), $alpha: .85);
      border-radius: 12.8rem;
      margin-top: 5rem;
      padding: 2.8rem 2.8rem 8rem;

      @include sp {
        border-radius: 5.6rem;
        margin-top: 3.2rem;
        padding: 4rem 2.4rem;
      }
    }

    &__cont-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4.5rem;

      @include sp {
        display: block;
      }
    }

    &__img {
      width: 23.5rem;

      @include sp {
        width: 18rem;
        margin: 0 auto;
      }

      img {
        width: 100%;
      }
    }

    &__name {
      color: color(wt,base);
      font-size: 2.5rem;
      font-weight: $base-font-bold;
      text-align: center;

      @include sp {
        font-size: 2.4rem;
        margin-top: 2.4rem;
      }
    }

    &__txt {
      color: color(wt,base);
      font-size: 2.5rem;
      line-height: calc(40/25);
      text-align: center;
      margin-top: 3rem;

      @include sp {
        font-size: 2.4rem;
        margin-top: 2.4rem;
      }
    }

    &__s-txt {
      font-size: 2rem;
      line-height: calc(40/20);
    }

    &__profile {
      margin-top: 6rem;

      @include sp {
        margin-top: 4rem;
      }
    }

    &__profile-ttl {
      color: color(wt,base);
      font-size: 2rem;
      text-align: center;
      font-weight: $base-font-bold;
      width: 53.6rem;
      margin: 0 auto;
      border-bottom: solid 1px color(wt,base);

      @include sp {
        width: 100%;
        padding-bottom: 1rem;
      }
    }

    &__profile-txt {
      color: color(wt,base);
      font-size: 2rem;
      line-height: calc(30/20);
      text-align: center;
      margin-top: 3rem;

      @include sp {
        font-size: 1.6rem;
        margin-top: 1.6rem;
      }
    }
  }
}