@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-about-teacher {
  & {
    padding-top: 2.4rem;

    &__list {
      max-width: 91rem;
      margin: 8rem auto 0;
      padding: 0 2rem;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 2rem;

      @include sp {
        margin: 4rem auto 0;
        padding: 0;
        grid-template-columns: repeat(2,1fr);
        gap: 1.6rem;
      }
    }

    &__item {
      width: 27rem;
      background-color: rgba($color: color(org,base), $alpha: .85);
      border-radius: 100vmax;
      padding: 2rem 2rem 10rem;
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;  
      
      @include sp {
        width: 100%;
        padding: 1.6rem 1.6rem 6rem;
      }
    }

    &__img {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;

      img {
        border-radius: 100vmax;
      }
    }

    &__item-head {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    &__name,
    &__faculty {
      color: color(wt,base);
      font-size: 2rem;
      display: -webkit-inline-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      @include sp {
        font-size: 1.6rem;
      }
    }

    &__faculty {
      margin-top: .5em;
    }

    &__txt {
      color: color(wt,base);
      font-size: 1.6rem;
      line-height: calc(32/16);
      display: -webkit-inline-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @include sp {
        font-size: 1.4rem;
        line-height: 150%;
      }
    }
  }
}