@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.js-nav {
  & {
    transition: top .5s;

    &.is-active {
      top: 0;
    }
  }
}

.js-nav-btn {
  &.is-active {
    .l-header__hamburger-line {
      position: absolute;

      &:nth-of-type(1) {
        transform: rotate(155deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
        visibility: hidden;
      }

      &:nth-of-type(3) {
        transform: rotate(-155deg);
      }
    }
  }
}