// フォント
$ff-dnp-shuei-ymincho: dnp-shuei-ymincho-std, sans-serif;
$ff-noto-serif: "Noto Serif JP", serif;
$ff-noto-sans: "Noto Sans JP", sans-serif;
$ff-fot-udmarugo: "fot-udmarugo-large-pr6n", sans-serif;

// ブレイクポイント
$bp-sp: 767px;  // SP 〜767px
$bp-pc: 768px;  // PC 768px〜

// weight指定
$base-font-light: 300;
$base-font-regular: 400;
$base-font-medium: 500;
$base-font-bold: 700;