@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-course-intro {
  & {
    padding-top: 8rem;

    @include sp {
      padding-top: 0;
    }

    &__inner {
      max-width: 132rem;
      margin: 0 auto;
      padding: 0 2rem;
    }

    &__txtarea {
      @include sp {
        margin-top: 2rem;
      }
    }

    &__txt {
      @include sp {
        color: color(blu,base);
        font-size: 1.4rem;
        line-height: calc(20/14);
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
        gap: 2.4rem;

        &::before {
          content: "";
          display: inline-block;
          width: 1.2rem;
          height: 7.2rem;
          background-image: url(../img/course/intro/obj.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

    &__wrap {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 3.2rem;

      @include sp {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 2rem;
        width: 27rem;
        margin: 2rem auto 0;
      }
    }

    &__cont {
      @include sp {
        width: 12.3rem;
      }

      &:first-of-type {
        @include sp {
          margin: 0 1rem;
        }
      }
    }

    &__img {
      width: 100%;
    }

    &__note {
      margin-top: .8rem;
      padding: 0 5.6rem;

      @include sp {
        padding: 0 2.8rem;
      }
    }

    &__note-txt {
      color: color(blu,base);
      font-size: 1.4rem;
      font-weight: $base-font-bold;
      line-height: calc(20/14);
      letter-spacing: .025em;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      @include sp {
        font-size: 1.2rem;
      }

      &::before {
        content: "※";
        color: color(blu,base);
        font-size: 1.4rem;
      }
    }
  }
}