// ===================================
// Foundation
// ===================================
@use "foundation/base" as *;
@use "foundation/reset" as *;

// ===================================
// Layout
// ===================================
@use "layout/header" as *;
@use "layout/footer" as *;
@use "layout/main" as *;

// ===================================
// Component
// ===================================
@use "object/component/g-nav" as *;
@use "object/component/secttl" as *;
@use "object/component/under-fv" as *;
@use "object/component/column" as *;

// ===================================
// Project
// ===================================
// トップページ
@use "object/project/top/fv" as *;
@use "object/project/top/about" as *;
@use "object/project/top/features" as *;
@use "object/project/top/course" as *;
@use "object/project/top/column" as *;

// 塾・講師紹介
@use "object/project/about/about" as *;
@use "object/project/about/philosophy" as *;
@use "object/project/about/teacher" as *;
@use "object/project/about/school" as *;
@use "object/project/about/principal" as *;

// コース・料金
@use "object/project/course/intro" as *;
@use "object/project/course/menu" as *;

// お問合せ・Q&A
@use "object/project/contact/contact" as *;
@use "object/project/contact/form" as *;
@use "object/project/contact/faq" as *;

// 元アカコラム
@use "object/project/column/column" as *;
@use "object/project/column/popular" as *;
@use "object/project/column/new" as *;
@use "object/project/column/details" as *;

// ===================================
// Utility
// ===================================
@use "object/utility/responsive" as *;

// ===================================
// Animation
// ===================================
@use "animation/hamburger" as *;

// ===================================
// vendor
// ===================================
@use "vendor/swiper" as *;